.title {
	font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.title a {
	transition: filter 0.15s;
}

.title a:hover {
	filter: brightness(0.85);
}

.container {
	width: 100vw;
	max-width: 1300px;
	margin: auto;
	padding: 25px;
	padding-top: 0px;
	display: flex;
	justify-content: space-between;
	gap: 32px;
	margin-top: 96px;
	gap: 40px;
}

.container h2 {
	color: lightgray;
	font-size: clamp(0.9rem, 1.8vw, 1.5rem);
}

.container img {
	flex: 1;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.container > div {
	flex: 1;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	padding: 15px 0px;
}

.container > div > div {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.gotoLink {
	--c: orange;
	--r: 15px;
	background-color: transparent;
	color: var(--c);
	padding: 10px 20px;
	border-radius: var(--r);
	border: 1px solid var(--c);
	position: relative;
	overflow: hidden;
}

.gotoLink::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	scale: 0 1;
	border-radius: var(--r);
	transform-origin: left;
	background: var(--c);
	transition: scale 0.15s;
	z-index: -1;
}

.gotoLink:hover {
	color: white;
}
.gotoLink:hover::before {
	scale: 1 1;
}

.mainImage {
	border-radius: 3px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	width: 80%;
	height: calc(80% / 1.5);
}
