.form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.form label {
	display: block;
	margin-bottom: 8px;
	font-size: 1.2rem;
}

.form select,
.form input:not([type="range"]) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 10px 20px;
	font-size: 1.1rem;
	border-radius: 5px;
	width: 100%;
	border-radius: 5px;
	background-color: rgb(65, 65, 65);
	outline: none;
	border: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 2px solid rgb(125, 125, 125);
	transition: 0.25s border-bottom;
}

.form select:focus,
.form input:focus {
	border-bottom: 2px solid orange;
}

.form select::placeholder,
.form input::placeholder {
	color: lightgray;
}

.form button {
	padding: 10px 20px;
	background-color: orange;
	color: whitesmoke;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: filter 0.15s;
	font-weight: 400;
}

.form button:hover,
.form button:disabled {
	filter: brightness(0.7);
}

.form button:disabled {
	cursor: not-allowed;
}

.form input[type="range"] {
	width: 100%;
	accent-color: orange;
}
